[user]
	name = Binbin Ye
	email = example@domain.com
	signingkey = 0123456789012345
[core]
	editor = vim
[push]
	default = simple
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[rebase]
	stat = true
	autostash = true
	missingcommitscheck = warn
[log]
	follow = true
[color]
	ui = true
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
	conflictStyle = diff3
[diff]
	tool = vscode
	colorMoved = default
	algorithm = histogram
	indentHeuristic = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "ediffclient"]
	cmd = emacsclient --eval \"(progn (ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\") (select-frame-set-input-focus (selected-frame)))\"
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
	prompt = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true

# delta is a 3rd party diff highlight tool written in rust
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	syntax-theme = Sublime Snazzy
	whitespace-error-style = 22 reverse
	navigate = true
        features = custom-style
[delta "custom-style"]
        plus-style = syntax "#203624"
        minus-style = syntax "#362020"

[github]
	user = braineo
